@import "@/styles/vars";

.section {
   position: relative;
   min-height: 130px;
   padding: 22px;
   border-radius: 30px;
   background-color: $transparent-white;

   @media (max-width: $media4 + px) {
      padding: 15px;
   }

   &__title {
      color: $teal;
      font-size: 1.6rem;
      margin-bottom: 1rem;
   }

   &__loader {
      position: absolute;
      left: 50%;
      top: 50%;
   }
}
