@import "./normalize";
@import "./vars";

html,
body {
   height: 100%;
   font-size: 14px;
   font-family: Avenir, Helvetica, Arial, sans-serif;
   background: $teal-gradient;

   @media (max-width: $media3 + px) {
      font-size: 12px;
   }
}

body.modal-open {
   overflow: hidden;
   height: 100vh;
}

.container {
   max-width: $contentWidth + px;
   margin: 0 auto;
   position: relative;
   width: 100%;

   @media (max-width: $media1 + px) {
      max-width: none;
      padding: 0 40px;
   }

   @media (max-width: $media2 + px) {
      max-width: 970px;
   }

   @media (max-width: $media3 + px) {
      max-width: 750px;
   }

   @media (max-width: $media4 + px) {
      max-width: none;
      padding: 0 15px;
   }
}

.wrapper {
   padding-top: 50px;
   padding-bottom: 50px;

   @media (max-width: $media4 + px) {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

.error {
   padding: 10px;
   border-radius: 10px;
   background-color: $transparent-white;

   font-size: 1.2rem;
   font-weight: 600;
   color: $red;
}
