@import "@/styles/vars";

.album {
   padding: 10px;
   border-radius: 10px;
   background-color: $transparent-white;

   &__title {
      color: $teal;
      font-size: 1.2rem;
      line-height: 1.3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      margin-bottom: 5px;
   }

   &__photo {
      position: relative;
      min-height: 150px;
      padding-bottom: 58%;

      img {
         position: absolute;
         top: 0;
         left: 0;

         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         border-radius: 10px;
      }
   }
}

.swiper-pagination-bullet {
   width: 20px;
   height: 3px;
   border-radius: 0;
   background: $teal;
}

.swiper-lazy-preloader {
   border-color: $transparent-teal;
   border-top-color: transparent;
}