@import "@/styles/vars";

.link {
   display: inline-flex;
   align-items: center;
   gap: 10px;

   font-size: 1.3rem;
   font-weight: 600;
   color: $teal;

   &:hover {
      color: $light-teal;
      svg {
         fill: $light-teal;
      }
   }

   &:focus-visible {
      outline: 2px solid $transparent-teal;
   }
}
