@import "@/styles/vars";

.input {
   width: 100%;
   border: 0;
   padding: 5px 9px;

   border-radius: 8px;
   background: $transparent-teal;

   color: $teal;
   font-size: 1rem;
   font-weight: 600;

   &:focus {
      outline: 2px solid $teal;
   }
}

.label {
   display: block;
   margin-bottom: 0.5rem;
   
   font-size: 1rem;
   font-weight: 600;
   color: $teal;
}